<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"/>
    <settings>
        <setting name="logImpl" value="LOG4J2"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <package name="nk.bigdata.backend.domain"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper class="nk.bigdata.backend.mapper.UserMapper"/>
        <mapper class="nk.bigdata.backend.mapper.MovieMapper"/>
        <mapper class="nk.bigdata.backend.mapper.MovieRateDataMapper"/>
        <mapper class="nk.bigdata.backend.mapper.MovieWordDataMapper"/>
        <mapper class="nk.bigdata.backend.mapper.MovieStarDataMapper"/>
        <mapper class="nk.bigdata.backend.mapper.TaskMapper"/>
    </mappers>
</configuration>